

@font-face {
    font-family: 'Pacifico';
    src: url(/webfonts/Pacifico-Regular.ttf);
}

:root{
    --body-font : 'Pacifico';

}
body{
    font-family: var(--body-font);
    background-color: #F7ECDE;
}

h1{
    --bs-heading-color : #352e28 ;
}
h1::before{
    content: "";
    position: absolute;
    width: 14%;
    height: 45%;
    left: 43%;
    bottom: 5px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}
h1::before:hover{
    height: 80%;
}

li{
    list-style: none;
}